body{

    font-family: 'Roboto', sans-serif!important;
    padding-top: 50px;
}

#homeCarousel{
    max-width:1200px;
    max-height: 360px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}


.navbar{
    background-color: #6448aa;
}

.navbar-brand{
    color: #e0e0e0;
}

.navbar-nav>li>a{
    color: #e0e0e0;
}


#mainC{
    height: 500px;
}

#mainLeft{
    height: 500px;
    background-color: #dadada;

}

#mainRight{
    height: 500px;
    background-color: #dadada;
    float:right;
}

#HeaderRow{
    margin-top: 10px;
    margin-bottom: 5px;
}


.close:hover{
    color:#D62222;
}