body{

    font-family: 'Roboto', sans-serif!important;
    padding-top: 50px;
}

#homeCarousel{
    max-width:1200px;
    max-height: 360px;
    overflow: hidden;
}


.navbar{
    border-bottom: 2px #9a9a9a solid;
    background-color: #3F62AA;
}

.navbar-brand{
    color: #e0e0e0;
}

.navbar-nav>li>a{
    color: #e0e0e0;
}


.thumbnail{
    border-bottom: 2px #9a9a9a solid;
    border-right: 2px #9a9a9a solid;
}
